.product-card {
  width: 200px;
  padding: 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__photo {
    display: block;
    height: 134px;
    width: 160px;
    margin: 15px auto 45px;
    transition-duration: 400ms;
    transition-property: transform;
    transition-timing-function: linear;

    &:hover {
      transform: scale(1.2);
      border: 3px solid #f3f3f3;
      border-radius: 5px;
      box-sizing: content-box;
      margin: 0 auto 30px;
      padding: 12px 0;
    }
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    margin-bottom: 6px;
  }

  &__code {
    line-height: 13px;
    text-align: left;
    margin-bottom: 15px;
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__price-tag {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    &--bold {
      display: inline;
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    background: $bluish-color;
    transition-duration: 400ms;

    &:hover {
      color: $bluish-color;
      background: #fff;
      border: 1px solid $bluish-color;
    }
  }
}
